Header{
    border-bottom: 2px solid rgb(43, 41, 41);
    margin-left:5rem;
    width:80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn.first{
    background-color:rgb(7, 145, 36);
    margin-top:7px;
    font-weight: bold;
    padding-left:14px;
    padding-right:14px;
    border-radius:10px;
    padding-top:10px;
    color:white;
}
.btn.second{
    background-color:rgb(199, 15, 15);
    margin-top:7px;
    font-weight: bold;
    padding-left:14px;
    padding-right:14px;
    border-radius:10px;
    padding-top:10px;
    color:white;
}
.btn.second:hover{
    color:white;
    background-color:rgb(4, 110, 27);  
}
.btn.second:hover{
    background-color:rgb(160, 11, 11);
    color:white;
}

.content{
   width:80%;
   margin-left:5rem;
   margin-top:2rem;


}
.form{
    display: flex;
    flex-direction:column;
    width: 10%;
}
select{
    margin-top:5px;
}